<div class=" container alert alert-dark bg-dark">
  <div class="alert alert-dark">
    <h3 class="alert alert-dark bg-dark color-blanco align-center">Perfil(Editar Informacion ) <%= resource_name.to_s.humanize %></h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label "Correo" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control"%>
      </div> <br>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label "Contraseña" %> <i>(déjelo en blanco si no desea cambiarlo)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> Caracteres Minimos</em>
        <% end %> 
      </div> <br>

      <div class="field">
        <%= f.label "Confirmar Contraseña" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div> <br>

      <div class="field">
        <%= f.label :current_password %> <i>(necesitamos su contraseña actual para confirmar sus cambios)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" , class: "form-control"%>
      </div> <br>

      <div class="actions">
        <%= f.submit "Actualizar" , class: "btn btn-success"%>
      </div> <br>
    <% end %>

    <h3 class="alert alert-dark bg-danger color-blanco align-center">Cancelar mi Cuenta</h3>

    <p class="alert alert-light color-negro">En Blogindario somos concientes de las necesidades de nuestros usuarios y tratamos de estar de su lado en todo momento si estas insatisfecho con el el blog solo debes cancelar tu cuenta. Lamentamos que tengas que llegar a este Punto. <%= button_to "Cancelar Mi Cuenta", registration_path(resource_name), data: { confirm: "Esta Seguro" }, method: :delete , class: "btn btn-danger"%></p>

    <%= link_to "Atras", :back, class: "btn btn-info" %>
  </div>
</div>
